
body {
    display: flex;
    flex-direction: column;
}

/* Header and Hero Section CSS */
.sec1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    padding: 20px 0 60px 0;
}

.sec1container{
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 60%;
    max-width: 1440px;
    height: 370px;
}

.headerbar {
    justify-content: space-between;
    display: flex;
}

#headerlogo {
    font-size: 24px;
    color: #f9faf8;
}

.navbar {
    display: flex;
    gap: 20px;    
}

.navbar a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.hero {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 3rem;
}

.sec1left {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    gap: 15px;
}

.awesome {
    font-size: 48px;
    font-weight: bolder;
}

#heroimg {
    max-width: 600px;
    height: auto;
    opacity: 80%;
    border-radius: 25px;
}


/* Info Section CSS */
.sec2 {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    padding: 50px;
    height: 370px;
}

#sec2text {
    font-size: 36px;
    font-weight: bolder;
    margin-bottom: 30px;
    color: #1f2937;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 55%;
    max-width: 1300px;
}

.info{
    width: 200px;
    max-width: 200px;
}

.info img {
    width: 200px;
    border: 5px solid #3882F6;
    border-radius: 20px;
}

/* Quote Section CSS */
.sec3 {
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1f2937;
    display: flex;
    justify-content: center;
    height: 370px;
    }

.sec3text {
    max-width: 700px;
    padding: 30px 0;
    font-style: italic;
}

#quoter {
    text-align: end;
    font-style: normal;
    font-weight: bold;
}

/* Call to Action CSS */
.sec4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 370px;
}

.sec4container {
    background-color: #3882F6;
    border-radius: 7px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #f9faf8;
    width: 60%;
    max-width: 1440px;
    height: 50%;
}

.calltoaction {
    display: flex;
    flex-direction: column;
}

#calltitle {
    font-weight: bold;
}



/* Footer CSS */
.foot {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
    padding: 2em;
    text-decoration: line-through;
}

/* Misc CSS */
.signup {
    border-radius: 7px;
    background-color: #3882F6;
    width: 150px;
    padding: 10px;
    color: #f9faf8;
}

#button2 {
    border: 1px solid white;
}

* {
    /* border: 2px solid red; */
    padding: 0;
    margin: 0;
    font-family: Roboto;
}